<!-- navbar starts -->
<header>
  <a href="/" class="logo"><i class="fab fa-node-js"></i> Sahil Malik </a>

  <div id="menu" class="fas fa-bars" [ngClass]="menuIconClasses()" (click)="toggleMenu()"></div>
  <nav class="navbar" [ngClass]="navbarClasses()">
    <ul>
      <li><a class="active" href="#home" (click)="onAnchorClick($event, '#home')">Home</a></li>
      <li><a href="#about" (click)="onAnchorClick($event, '#about')">About</a></li>
      <li><a href="#skills" (click)="onAnchorClick($event, '#skills')">Skills</a></li>
      <!-- <li><a href="#education">Education</a></li>
            <li><a href="#work">Work</a></li> -->
      <li><a href="#experience" (click)="onAnchorClick($event, '#experience')">Experience</a></li>
      <li><a href="#contact" (click)="onAnchorClick($event, '#contact')">Contact</a></li>
    </ul>
  </nav>
</header>
<!-- navbar ends -->


<!-- hero section starts -->
<section class="home" id="home">
  <div id="tsparticles-bg" class="tsparticles-fullscreen"></div>
  <div class="content">
    <h2>Hi There,<br /> I'm Sahil <span>Malik</span></h2>
    <p>i am into <span class="typing-text"></span></p>
    <a href="#about" class="btn"><span>About Me</span>
      <i class="fas fa-arrow-circle-down"></i>
    </a>
    <div class="socials">
      <ul class="social-icons">
        <li><a class="linkedin" aria-label="LinkedIn" href="https://www.linkedin.com/in/sahilmalik5547/" target="_blank"><i
              class="fab fa-linkedin"></i></a></li>
        <li><a class="github" aria-label="GitHub" href="https://github.com/sahilmalik5547" target="_blank"><i
              class="fab fa-github"></i></a></li>
        <!-- <li><a class="twitter" aria-label="Twitter" href="https://www.instagram.com/aslicecode" target="_blank"><i class="fab fa-twitter"></i></a></li>
          <li><a class="telegram" aria-label="Telegram" href="https://www.instagram.com/aslicecode" target="_blank"><i class="fab fa-telegram-plane"></i></a></li> -->
        <li><a class="instagram" aria-label="Instagram" href="https://www.instagram.com/chaudhary_sahil_malik"><i
              class="fab fa-instagram" target="_blank"></i></a></li>
        <!-- <li><a class="dev" aria-label="Dev" href="https://www.instagram.com/aslicecode" target="_blank"><i class="fab fa-dev"></i></a></li> -->
      </ul>
    </div>
  </div>
  <div class="image">
    <img draggable="false" class="tilt" src="hero2.avif" alt="">
  </div>
</section>
<!-- hero section ends -->


<!-- about section starts -->
<section class="about" id="about">
  <h2 class="heading"><i class="fas fa-user-alt"></i> About <span>Me</span></h2>

  <div class="row">

    <div class="image">
      <img draggable="false" class="tilt" src="imgg2.avif" alt="">
    </div>
    <div class="content">
      <h3>I'm Sahil Malik</h3>
      <span class="tag">Full Stack Developer | MEAN Stack Specialist</span>

      <p>
        I am a passionate Software Developer, specializing in building modern,
        scalable, and high-performance web/mobile applications using the MEAN stack.
        I love crafting interactive user experiences, optimizing backend logic,
        and exploring the latest technologies to deliver innovative solutions.
        My goal is to create applications that are not just functional, but also efficient and user-friendly.
      </p>

      <div class="box-container">
        <div class="box">
          <p><span> email : </span> sahil9813225547&#64;gmail.com</p>
          <p><span> location : </span> Haryana, India</p>
        </div>
      </div>

      <div class="resumebtn">
        <a href="https://drive.google.com/file/d/1pDi3UMljj1CXWd749HOKk_Z95M74PU5F/view?usp=sharing" target="_blank"
          class="btn">
          <span>Download Resume</span>
          <i class="fas fa-chevron-right"></i>
        </a>
      </div>
    </div>

  </div>
</section>
<!-- about section ends -->

<!-- skills section starts -->
<section class="skills" id="skills">

  <h2 class="heading"><i class="fas fa-laptop-code"></i> Skills & <span>Abilities</span></h2>

  <div class="container">
    <div class="row" id="skillsContainer">
      @for(skill of skills(); track skill.name) {
      <div class="bar">
        <div class="info">
          <img [src]="skill.icon" height="40" width="auto" />
          <span>{{ skill.name }}</span>
        </div>
      </div>
      }
    </div>
  </div>
</section>
<!-- skills section ends -->


<!-- education section starts -->
<!-- <section class="education" id="education">

  <h1 class="heading"><i class="fas fa-graduation-cap"></i> My <span>Education</span></h1>

    <p class="qoute">Education is not the learning of facts, but the training of the mind to think.</p>

    <div class="box-container">

    <div class="box">
        <div class="image">
        <img draggable="false" src="./assets/images/educat/college.jpg" alt="">
        </div>
        <div class="content">
        <h3>Bachelor of Engineering in Computer Science</h3>
        <p>College of engineering and research | SPPU</p>
        <h4>2019-2023 | Completed</h4>
        </div>
    </div>

    <div class="box">
      <div class="image">
      <img draggable="false" src="./assets/images/educat/school.jpg" alt="">
      </div>
      <div class="content">
      <h3>Secondary Education</h3>
      <p>CBSE</p>
      <h4>2017-2018 | Completed</h4>
      </div>
    </div>

</div>
</section> -->
<!-- education section ends -->


<!-- work project section starts -->
<!-- <section class="work" id="work">

  <h2 class="heading"><i class="fas fa-laptop-code"></i> Projects <span>Made</span></h2>

  <div class="box-container">
    @for(project of projects(); track project.name) {
    <div class="box tilt">
      <img draggable="false" src="images/projects/{{ project.image }}.png" [alt]="project.name" />
      <div class="content">
        <div class="tag">
        <h3>{{ project.name }}</h3>
        </div>
        <div class="desc">
          <p>{{ project.desc }}</p>
          <div class="btns">
            <a [href]="project.links.view" class="btn" target="_blank"><i class="fas fa-eye"></i> View</a>
            <a [href]="project.links.code" class="btn" target="_blank">Code <i class="fas fa-code"></i></a>
          </div>
        </div>
      </div>
    </div> 
  }

</div>

<div class="viewall">
  <a href="/projects" class="btn"><span>View All</span>
    <i class="fas fa-arrow-right"></i>
</a>
</div>

</section>  -->
<!-- work project section ends -->

<!-- experience section starts -->
<section class="experience" id="experience">

  <h2 class="heading"><i class="fas fa-briefcase"></i> Experience </h2>

  <div class="timeline">

    <div class="container right">
      <div class="content">
        <div class="tag">
          <h2>Software Engineer</h2>
        </div>
        <div class="desc">
          <h3>Impact Research and Measurement pvt. ltd.</h3>
          <p>June 23- present</p>
        </div>
      </div>
    </div>

    <div class="container left">
      <div class="content">
        <div class="tag">
          <h2>Mean Stack Developer</h2>
        </div>
        <div class="desc">
          <h3>Etech Services Pvt. ltd.</h3>
          <p>May 2022 - May 2023</p>
        </div>
      </div>
    </div>

    <div class="container right">
      <div class="content">
        <div class="tag">
          <h2>Internship</h2>
        </div>
        <div class="desc">
          <h3>Perfect Stayz pvt. ltd.</h3>
          <p>December 21 - May 2022</p>
        </div>
      </div>
    </div>

    <!-- <div class="morebtn">
    <a href="/experience" class="btn"><span>View All</span>
      <i class="fas fa-arrow-right"></i>
  </a>
  </div> -->

  </div>

</section>
<!-- experience section ends -->

<!-- contact section starts -->
<section class="contact" id="contact">

  <h2 class="heading"><i class="fas fa-headset"></i> Get in <span>Touch</span></h2>

  <div class="container">
    <div class="content">
      <div class="image-box">
        <img draggable="false" src="contact1.png" alt="">
      </div>
      <form [formGroup]="contactForm" (ngSubmit)="onSubmitContactForm()" novalidate id="contact-form">
        <div class="form-group">
          <div class="field" [class.invalid]="name.invalid && name.touched">
            <input type="text" formControlName="name" placeholder="Name" />
            <i class="fas fa-user"></i>
          </div>
          @if (name.invalid && name.touched) {
          <div class="error">
            @if (name.errors?.['required']) {
            <small>Name is required.</small>
            } @else if (name.errors?.['minlength']) {
            <small>Name must be at least 2 characters.</small>
            }
          </div>
          }

          <div class="field" [class.invalid]="email.invalid && email.touched">
            <input type="email" formControlName="email" placeholder="Email" />
            <i class="fas fa-envelope"></i>
          </div>
          @if (email.invalid && email.touched) {
          <div class="error">
            @if (email.errors?.['required']) {
            <small>Email is required.</small>
            } @else if (email.errors?.['email']) {
            <small>Email is invalid.</small>
            }
          </div>
          }

          <div class="field">
            <input type="text" formControlName="phone" placeholder="Phone" />
            <i class="fas fa-phone-alt"></i>
          </div>

          <div class="message" [class.invalid]="message.invalid && message.touched">
            <textarea placeholder="Message" formControlName="message"></textarea>
            <i class="fas fa-comment-dots"></i>
          </div>
          @if (message.invalid && message.touched) {
          <div class="error">
            @if (message.errors?.['required']) {
            <small>Message is required.</small>
            } @else if (message.errors?.['minlength']) {
            <small>Message should be at least 10 characters.</small>
            }
          </div>
          }
        </div>

        <div class="button-area">
          <button type="submit" [disabled]="contactForm.invalid || isSubmitting">
            @if (!isSubmitting) {
            Submit <i class="fa fa-paper-plane"></i>
            } @else {
            Sending...
            }
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- contact section ends -->


<!-- footer section starts -->
<section class="footer">

  <div class="box-container">

    <div class="box">
      <h3>Sahil's Portfolio</h3>
      <p>Thank you for visiting my personal portfolio website. Connect with me over socials. <br /> <br /> Keep Rising
        🚀. Connect with me over live chat!</p>
    </div>

    <div class="box">
      <h3>quick links</h3>
      <a href="#home"><i class="fas fa-chevron-circle-right"></i> home</a>
      <a href="#about"><i class="fas fa-chevron-circle-right"></i> about</a>
      <a href="#skills"><i class="fas fa-chevron-circle-right"></i> skills</a>
      <!-- <a href="#education"><i class="fas fa-chevron-circle-right"></i> education</a>
          <a href="#work"><i class="fas fa-chevron-circle-right"></i> work</a> -->
      <a href="#experience"><i class="fas fa-chevron-circle-right"></i> experience</a>
    </div>

    <div class="box">
      <h3>contact info</h3>
      <p> <i class="fas fa-phone"></i>+91 9813225547</p>
      <p> <i class="fas fa-envelope"></i>sahil9813225547&#64;gmail.com</p>
      <p> <i class="fas fa-map-marked-alt"></i>Haryana, India-131301</p>
      <div class="share">

        <a href="https://www.linkedin.com/in/sahilmalik5547" class="fab fa-linkedin" aria-label="LinkedIn"
          target="_blank"></a>
        <a href="https://github.com/sahilmalik5547" class="fab fa-github" aria-label="GitHub" target="_blank"></a>
        <a href="mailto:sahil9813225547@gmail.com" class="fas fa-envelope" aria-label="Mail" target="_blank"></a>
        <a href="https://www.instagram.com/chaudhary_sahil_malik" class="fas fa-instagram" aria-label="Instagram"
          target="_blank"></a>
        <!-- <a href="https://twitter.com/sahilmalik5547" class="fab fa-twitter" aria-label="Twitter" target="_blank"></a> -->
        <!-- <a href="https://t.me/sahilmalik5547" class="fab fa-telegram-plane" aria-label="Telegram" target="_blank"></a> -->
      </div>
    </div>
  </div>

  <h1 class="credit">Designed with <i class="fa fa-heart pulse"></i> by <a
      href="https://www.linkedin.com/in/sahilmalik5547">Sahil Malik</a></h1>

</section>
<!-- footer section ends -->


<!-- scroll top btn -->
<a aria-label="ScrollTop" [class.active]="showScrollTop()" (click)="scrollToTop()" class="fas fa-angle-up"
  id="scroll-top"></a>
<!-- scroll back to top -->